services:
  backend:
    build: ./backend
    container_name: nest_api
    restart: unless-stopped
    entrypoint: ["./entrypoint.sh"]
    env_file:
      - .env
    ports:
      - "1234:1234"

  frontend:
    build: ./frontend
    container_name: next_web
    restart: unless-stopped
    depends_on:
      - backend
    env_file:
      - .env
    environment:
      NEXTAUTH_URL: ${NEXTAUTH_URL:-http://localhost:3001}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET:-change_me_nextauth}
      INTERNAL_API_URL: http://backend:1234
    ports:
      - "3001:3000"
